@import-normalize; /* reset css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2 {
  color: #3d5afe;
  font-family: 'Enriqueta', arial, serif;
  font-weight: bold;
}

p {
  color: #333333;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

div .kanji-info, .kanji-search, .kanji-graph, .force-graph-container {
    border: 1px solid #3d5afe;
}

div .kanji-search {
    width: 30%;
}

div .kanji-info {
    width: 70%;
}

div .kanji-words {
    width: 40%;
}

div .force-graph-container {
    /*width: 60%;*/
}
